* {
   /* border: 1px solid black; */
}

.App {
   margin: 1rem;
}
.heading {
   display: flex;
   padding: 2rem;
   margin: auto;
   width: 100%;
}

.highlight {
   padding: 0.5rem 2rem;
   font-size: 1.3rem;
   border: 1px black solid;
   background-color: beige;
}

.gridContainer {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 10px;
   grid-auto-rows: minmax(40px, auto);
}

.centered {
   display: flex;
   justify-content: center;
   margin: auto;
   align-items: center;
   text-align: center;
}

.btn {
   font-size: calc(10px + 1vmin);
   border: 1px black solid;
   border-radius: 10px;
   background-color: rgb(240, 238, 238);
}

.btn:disabled{
   background-color: rgb(255, 254, 254);
   border: 1px rgb(240, 238, 238) solid;
   color: rgb(180, 177, 177);
}
